# Ignore Gradle-project specific cache directory #
app/.gradle

# Ignore Gradle build output #
build

**/logs/
**/jte-classes/

.settings
bin
.project*
.classpath
.idea/
.factorypath

# OS-specific files #
.DS_Store